.main {
  background: url(../img/main_bg.png) center top no-repeat;
}

.main .link {
  display: block;
  margin: 10px auto 12px;
  width: 1200px;
  height: 440px;
}

/* 内容区域 */
.main .content-section {
  display: flex;
  justify-content: space-between;
}

.main .content-section .left-content {
  width: 872px;
}

.main .content-section .right-content {
  width: 295px;
}