.header {
  position: relative;
  /* 这里 rgba 设置值时一般会把逗号之间的空格去掉，0.x 也会省略小数点前的 0 */
  background-color: rgba(0,0,0,.8);
}

.header .area {
  display: flex;
  justify-content: space-between;
  height: 84px;
  /* line-height: 84px; */
  /* background-color: skyblue; */
}

.header .area .left-area {
  display: flex;
  /* background-color: #f66; */
}

.header .area .left-area .logo {
  /* height: 100%; */
}

.header .area .left-area .logo a {
  /* 相对定位 + 平移 实现在父元素中垂直方向居中 */
  position: relative;
  top: 50%;
  transform: translate(0, -50%);

  display: block;
  width: 200px;
  height: 54px;
  text-indent: -9999px;
  /* background-color: #fff; */
  background: url("../img/logo.png") center center no-repeat;
}

.header .area .left-area .nav-list {
  display: flex;
  margin-left: 30px;
}

.header .area .left-area .nav-list .item {
  width: 115px;
  /* line-height: 1.5; */
  text-align: center;
  /* background-color: #666; */
}

.header .area .left-area .nav-list .item:hover,
.header .area .left-area .nav-list .item.active {
  background: url(../img/main_sprite.png) 0 0 no-repeat;
}

.header .area .left-area .nav-list .item a {
  display: block;
  box-sizing: border-box;
  padding: 20px 5px 0 0;
  height: 100%;
  font-size: 18px;
  color: #c9c9dd;
}

.header .area .left-area .nav-list .item:hover a,
.header .area .left-area .nav-list .item.active a {
  color: #e4b653;
}

.header .area .left-area .nav-list .item a .desc {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  color: #858792;
}

.header .area .left-area .nav-list .item:hover a .desc,
.header .area .left-area .nav-list .item.active a .desc {
  color: #91763f;
}

.header .area .left-area .search {
  /* display: flex;
  align-items: center; */
  margin-left: 10px;
  /* background-color: #fff; */
}

.header .area .left-area .search a {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  width: 27px;
  height: 26px;
  background: url(../img/nav_search.png);
}

.header .area .right-area {
  display: flex;
  align-items: center;
  /* background-color: #66f; */
}

.header .area .right-area .image img {
  border: 1px solid #d9ad50;
  border-radius: 50%;
}

.header .area .right-area .info {
  margin-left: 7px;
}

.header .area .right-area .info a {
  font-size: 16px;
  color: #fff;
}

.header .area .right-area .info p {
  font-size: 14px;
  color: #858792;
}

.header .dropmenu {
  position: absolute;
  left: 0;
  right: 0;
  top: 84px;
  height: 0;
  background-color: rgba(0,0,0,.7);

  overflow: hidden;
  /* 注意：transition 属性要加在这里，而不是 :hover 状态时，否则，从 hover 状态变成正常状态时，由于正常状态时没有加 transition 属性，就不会有过渡动画 */
  transition: height 300ms ease;
}

.header:hover .dropmenu {
  height: 285px;
}

.header .dropmenu .inner {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 0 30px 50px;
  width: 940px;
  height: 100%;
  /* background-color: #a9be7b; */
}

.header .dropmenu .list {
  padding: 2px 2.5px 0;
  width: 110px;
  text-align: center;
}

.header .dropmenu .list .item {
  height: 30px;
  line-height: 30px;
}

.header .dropmenu .list .item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c9c9dd;
  white-space: nowrap;
}

.header .dropmenu .list .item a:hover {
  color: #f3c258;
  text-decoration: underline;
}

.header .dropmenu .list .item a i {
  flex: none;
}