.main {
  /* 可以通过设置 background-size，让背景图片的大小随着浏览器窗口大小的变化自动变化 */
  background: url(../img/main_bg.png) center top/100% auto no-repeat;
}

.main .link {
  display: block;
  margin: 10px auto 12px;
  width: 1200px;
  height: 440px;
}

/* 内容区域 */
.main .content-section {
  display: flex;
  justify-content: space-between;
}

.main .content-section .left-content {
  width: 872px;
}

.main .content-section .right-content {
  width: 295px;
}