@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1660743949738') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huanzhexinxi:before {
  content: "\e737";
}

.icon-shengchangquxian:before {
  content: "\e73c";
}

.icon-tijian:before {
  content: "\e73e";
}

