.mi_wrapper {
  margin: 0 auto;
  width: 1226px;
}

.kl_wrapper {
  margin: 0 auto;
  width: 1100px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;

  visibility: hidden;
  height: 0;
}

.clearfix {
  *zoom: 1;
}